{% load staticfiles %}
{% load static %}
<script src="{% static 'thickbox.js' %}"></script>
<div class="album text-muted">
    <div class="container">
        <div class="row">
            {% if archives %}
                {% for a in archives %}
                    <div class="card">
                        <a href="{% get_media_prefix %}{{ a.file }}" title="{{ a.title }}" class="thickbox"><img src="{% get_media_prefix %}{{ a.file }}"
                                                                                                                 alt="{{ a.title }}" class="pic-view"
                                                                                                                 style="height: auto; width: 100%;margin: 0 auto;"></a>
                        {#                        <img src="{% get_media_prefix %}{{ a.file }}" alt="{{ a.title }}" class="pic-view" style="height: auto; width: 100%;margin: 0 auto;">#}
                        <p class="card-text">{{ a.description }}</p>
                        <p class="card-text">{% a.pub_date-1 %}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>